*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/.idea/encodings.xml
/build
/captures
.externalNativeBuild
/.idea/caches/
/.idea/checkstyle-idea.xml
.idea/caches/
.idea/checkstyle-idea.xml
